<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vdanielmora.myp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Controladores.MYPmain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Controladores.PerfilProfesor" />
        <activity android:name=".Controladores.Busqueda" />
        <activity android:name=".Controladores.PerfilMateria" />
        <activity android:name=".Controladores.ListaProfesor" />
        <activity android:name=".Controladores.Registro" />
        <activity android:name=".Controladores.ListadoMaterias" />
        <activity android:name=".Controladores.CrearMaterias" />
        <activity
            android:name=".Controladores.CrearProfesor"
            android:label="@string/title_activity_crear_profesor"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>